<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <h2>Get Your Stats</h2>
    <label class="item item-input">
      <span class="input-label">Battle.Net Username</span>
      <input type="search" name="get-stats" placeholder="e.g ProGenji#1231">
    </label>
    <p><strong>Please Note:</strong> Usernames are case sensitive</p>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Platform
        </div>
        <select>
          <option selected>PC</option>
          <option>XBL</option>
          <option>PSN</option>
        </select>
      </label>
    </div>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Region
        </div>
        <select>
          <option selected>US</option>
          <option>EU</option>
          <option>KR</option>
          <option>CN</option>
          <option>Global</option>
        </select>
      </label>
    </div>

    <button class="button button-full button-positive">
      Search
    </button>

  </ion-content>
</ion-view>
